<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    
        <div class="header">
            <h1>Storify</h1>
        </div>
    
        <div>
    
            <div class="container_actions">
                <form action="{{ url_for('main.add_story') }}" method="post">
                    <label for="content_story" >Escreva Sua História</label><br>
                    <input type="text" name="title" placeholder="Story Title">
                    <input type="text" name="content" placeholder="Comece a escrever..." style="width: 500px; height: 700px;"><br>
                    <button type="submit">Add Story</button>             
                </form>                
            </div>  
    
            <div class="container_content">
                <a href="{{ url_for('main.index') }}"> voltar</a>
        </div>
        </div>
    
    </div>
</body>
</html>